:root {
    --header-color: #fb0a26;
    --paragaph-color: #46ebeb;
    --background-color: #000;
    --header-font: "Lavishly Yours", cursive;
    --paragraph-font: "Orbitron", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--header-color);
    font-family: var(--header-font);
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    color: var(--paragaph-color);
    font-family: var(--paragraph-font);
}