:root {
    --header-color: #fb0a26;
    --paragaph-color: #46ebeb;
    --background-color: #000;
    --header-font: "Lavishly Yours", cursive;
    --paragraph-font: "Orbitron", sans-serif;
}

header {
    padding: .5rem 2%;
    font-size: 4rem;
    background-color: var(--background-color);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

fieldset {
    background-color: var(--background-color);
    text-align: left;
    width: 100%;
    max-width: 425px;
}

header,
h2 {
    font-family: var(--header-font);
    color: var(--header-color);
    font-size: 2rem;
}

label {
    padding-bottom: 50px;
}

.features {
    font-family: var(--paragraph-font);
    color: var(--paragaph-color);
    padding-top: 50px;
}

.features label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

input[type="submit"] {
    border: none;
    background-color: var(--header-color);
    color: var(--paragaph-color);
    font-family: var(--paragraph-font);
    width: 96%;
    max-width: 400px;
    height: 25px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: var(--paragaph-color);
    color: var(--header-color);
}

input[type="checkbox"] {
    height: 25px;
    width: 25px;
}

input[type="date"],
input[type="text"] {
    height: 25px;
    width: 100%;
    max-width: 400px;
}

input[type="textarea"] {
    width: 100%;
    max-width: 400px;
}

.rating,
.review,
.name {
    padding-top: 20px;
}

footer {
    background-color: var(--background-color);
    color: var(--paragaph-color);
    font-family: var(--paragraph-font);
    text-align: center;
    width: 100%;
    max-width: 450px;
}
/* star rating style */

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.stars > label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0)
}

.stars > label:hover {
    color: blue;
}

.stars > label::before {
    content: "âƒ";
}

.stars input:checked ~ label::before {
    content: "\2605";
}

